// Default Theme Color Palette

// Red
$red-light: #ffa5b4;
$red-dark: #ed8796;

// Pink
$pink-light: #ffdbff;
$pink-dark: #f5bde6;

// Purple
$purple-light: #e4befe;
$purple-dark: #c6a0f6;

// Blue
$blue-light: #a8cbef;
$blue-dark: #8aadf4;

// Teal
$teal-light: #A9F3E8;
$teal-dark: #8bd5ca;

// Green
$green-light: #C4F8B3;
$green-dark: #a6da95;

// Yellow
$yellow-light: #FFF2BD;
$yellow-dark: #eed49f;

// Orange
$orange-light: #FFC79D;
$orange-dark: #f5a97f;

// Grey
$grey-050: #f4f4f5;
$grey-100: #e9e9ea;
$grey-150: #e9e9ea;
$grey-200: #c7c7cb;
$grey-250: #c7c7cb;
$grey-300: #a5a5ab;
$grey-350: #a5a5ab;
$grey-400: #62626d;
$grey-450: #62626d;
$grey-500: #24273a;
$grey-550: #24273a;
$grey-600: #1b1b29;
$grey-650: #1b1b29;
$grey-700: #171723;
$grey-750: #171723;
$grey-800: #12121c;
$grey-850: #12121c;
$grey-900: #0f0f17;
$grey-950: #0f0f17;

// White
$white: #ffffff;

// Black
$black: #181926;

// Button
$button-close: if($variant == "light", #ed8796, #ffa5b4);
$button-max: if($variant == "light", #a6da95, #C4F8B3);
$button-min: if($variant == "light", #eed49f, #FFF2BD);

// Theme
$default-light: $purple-light;
$default-dark: $purple-dark;
