// Default Theme Color Palette

// Red
$red-light: #ffa9c6;
$red-dark: #f38ba8;

// Pink
$pink-light: #ffe0ff;
$pink-dark: #f5c2e7;

// Purple
$purple-light: #e9c4ff;
$purple-dark: #cba6f7;

// Blue
$blue-light: #a7d2ff;
$blue-dark: #89b4fa;

// Teal
$teal-light: #b2fff3;
$teal-dark: #94e2d5;

// Green
$green-light: #c4ffbf;
$green-dark: #a6e3a1;

// Yellow
$yellow-light: #f9e2af;
$yellow-dark: #ffffcd;

// Orange
$orange-light: #ffd1a5;
$orange-dark: #fab378;

// Grey
$grey-050: #f4f4f5;
$grey-100: #e9e9ea;
$grey-150: #e9e9ea;
$grey-200: #c7c7cb;
$grey-250: #c7c7cb;
$grey-300: #a5a5ab;
$grey-350: #a5a5ab;
$grey-400: #62626d;
$grey-450: #62626d;
$grey-500: #1e1e2e;
$grey-550: #1e1e2e;
$grey-600: #1b1b29;
$grey-650: #1b1b29;
$grey-700: #171723;
$grey-750: #171723;
$grey-800: #12121c;
$grey-850: #12121c;
$grey-900: #0f0f17;
$grey-950: #0f0f17;

// White
$white: #ffffff;

// Black
$black: #000000;

// Button
$button-close: if($variant == "light", #f38ba8, #ffa9c6);
$button-max: if($variant == "light", #a6e3a1, #c4ffbf);
$button-min: if($variant == "light", #f9e2af, #ffffcd);

// Theme
$default-light: $purple-light;
$default-dark: $purple-dark;
