// Default Theme Color Palette

// Red
$red-light: #ffa9c6;
$red-dark: #f38ba8;

// Pink
$pink-light: #ffe0ff;
$pink-dark: #f5c2e7;

// Purple
$purple-light: #e9c4ff;
$purple-dark: #cba6f7;

// Blue
$blue-light: #a7d2ff;
$blue-dark: #89b4fa;

// Teal
$teal-light: #b2fff3;
$teal-dark: #94e2d5;

// Green
$green-light: #c4ffbf;
$green-dark: #a6e3a1;

// Yellow
$yellow-light: #f9e2af;
$yellow-dark: #ffffcd;

// Orange
$orange-light: #ffd1a5;
$orange-dark: #fab378;

// Grey
$grey-050: #dce0e8;
$grey-100: #e6e9ef;
$grey-150: #eff1f5;
$grey-200: #ccd0da;
$grey-250: #bcc0cc;
$grey-300: #8c8fa1;
$grey-350: #7c7f93;
$grey-400: #6c6f85;
$grey-450: #5c5f77;
$grey-500: #585b70;
$grey-550: #45475a;
$grey-600: #313244;
$grey-650: #313244;
$grey-700: #1e1e2e;
$grey-750: #181825;
$grey-800: #11111b;
$grey-850: #1e1e2e;
$grey-900: #181825;
$grey-950: #11111b;



// White
$white: #cdd6f4;

// Black
$black: #11111b;

// Button
$button-close: if($variant == "light", #f38ba8, #ffa9c6);
$button-max: if($variant == "light", #a6e3a1, #c4ffbf);
$button-min: if($variant == "light", #f9e2af, #ffffcd);

// Theme
$default-light: $purple-light;
$default-dark: $purple-dark;
